{% extends 'base.html' %}

{% block content %}
    {% if current_textbooks %}
        <ul class="list-group">
        {% for textbook in current_textbooks %}
            <li class="list-group list-group-item">{{ textbook.title }} -- {{ textbook.author }} ({{ textbook.year }})</li>
        {% endfor %}
        </ul>
    {% else %}
        <h4>No textbooks are currently registered in our system. Would you like to post one to sell?</h4>
    {% endif %}
    <h2>Please fill out this form to post your textbook:</h2>
    <form method="post" action="{% url 'post_textbook:choose_course' %}">
      {% csrf_token %}
      <label>Department:</label>
      {% comment %} <select>
        {% for dept in course_depts%}
        <option>{{dept}}</option>
        {% endfor %}
      </select> {% endcomment %}
      <button type="submit">Save</button>
    </form>

        

{% endblock content %}