{% extends 'base.html' %}

{% block content %}
    {% if current_textbooks %}
        <ul class="list-group">
        {% for textbook in current_textbooks %}
            <li class="list-group list-group-item">
              {{ textbook.title }} -- {{ textbook.author }} ({{ textbook.year }})</li>
        {% endfor %}
        </ul>
    {% else %}
        <h4>No textbooks are currently registered in our system. Would you like to post one to sell?</h4>
    {% endif %}
    <br><br>
    <h2>To post a textbook for sale, first choose a course department:</h2>
    <br>
    <form method="post" action="{% url 'post_textbook:choose_course' %}" class="form-group">
      {% csrf_token %}
      <label>Department:  
      <select id="dept" name="dept" class="form-group form-control">
        {% for dept in course_depts%}
        <option value="{{dept}}">{{dept}}</option>
        {% endfor %}
      </select><br>
      <input type="submit" value="Choose Course & Textbook Details" class="btn btn-primary text-light text-decoration-none">
    </form>

        

{% endblock content %}