{% extends 'base.html' %}

{% block content %}
    <div class="shadow-lg p-3 mb-5 bg-body rounded text-dark">
      <h2>To post a textbook for sale, first choose a course department:</h2>
      <br>
      <form method="post" action="{% url 'post_textbook:choose_course' %}" class="form-group">
        {% csrf_token %}
        <label class="mb-3">Department:</label> 
        <select id="dept" name="dept" class="form-group form-control">
          {% for dept in course_depts%}
          <option value="{{dept}}">{{dept}}</option>
          {% endfor %}
        </select><br>
        <input type="submit" value="Choose Course & Textbook Details" class="btn btn-secondary text-light text-decoration-none">
    </div>
    </form>

        

{% endblock content %}

