{% extends 'base.html' %}

{% block content %}
<h2 class="text-dark"><em>Please fill out this form to post your textbook:</em></h2>

<!-- First part of textbook form user chooses department and course -->
<form method="post" action="{% url 'post_textbook:choose_course' %}">
  {% csrf_token %}
    <label>Department:</label>
    {% comment %} <select>
    {% for dept in course_depts%}
    <option>{{dept}}</option>
    {% endfor %}
    </select> {% endcomment %}
    <button type="submit">Save</button>
  </form>

        

{% endblock content %}