{% extends 'base.html' %}

{% block content %}



<div class="text-light">

{% if social_account.0.extra_data %}
<img src="{{ social_account.0.extra_data.picture }}" style="border-radius:50%;">
<br><br>
{% endif %}
<p>{{name}}</p>

<form method="post" action="{% url 'direct_messages:message_user' %}" class="form-group">
  {% csrf_token %}
  <input name="recipient" id="recipient" value="{{user_real.username}}" hidden>
  <button type="submit" class="btn btn-lg btn-light">Message</button>
</form>
{% if not empty %}
<p>{{name}}'s Textbooks:</p>
{% for textbook in user_real.textbooks.all %}
<div class="accordion" id="browseTextbooks">
  <div class="accordion-item">
    {% for department, value in departments.items %}
      <h2 class="accordion-header" id="{{department}}">
          <button class="accordion-button" type="button" 
                  data-bs-toggle="collapse" data-bs-target="#collapse{{department}}" 
                  aria-expanded="true" aria-controls="collapse{{department}}">
              {{department}}
          </button>
      </h2>

      <div id="collapse{{department}}" class="accordion-collapse collapse">
        <div class="accordion-body">
          {% for course, textbooks in value.items %}
              <div class="accordion" id="begin{{course}}">
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="{{course.id}}">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{course}}" aria-expanded="false" aria-controls="collapse{{department}}">
                              {{course}}
                          </button>
                      </h2>

                      <div id="collapse{{course}}" class="accordion-collapse collapse show">
                          <div class="accordion-body text-dark">
                            {% for textbook in textbooks|dictsort:"title" %}
                              <p id="{{textbook}}">
                                <img src="{{textbook.cover}}}" style="max-height:100px;" />
                                {{ textbook }}
                                
                              </p>
                                
                            {% endfor %}
                          </div>
                      </div>
                  </div> 
              </div>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endfor %}
{% else %}
<p> {{name}} has not posted any textbooks to sell.</p>
{% endif %}
</div>



{% endblock %}