{% extends 'base.html' %}

{% block content %}



<div class="text-light">
    <form method="post" action="{% url 'direct_messages:message_user' %}" class="form-group">
        {% csrf_token %}
        <input name="recipient" id="recipient" value="{{user_real.username}}" hidden>
        <button type="submit" class="btn btn-lg btn-light">Message</button>
    </form>
{% if social_account.0.extra_data %}
<img src="{{ social_account.0.extra_data.picture }}" style="border-radius:50%;">
<br><br>
<p>Name: {{social_account.0.extra_data.name}}</p>
<p>{{social_account.0.extra_data.name}}'s Textbooks:</p>
{% else %}
<p>Name: {{user_real.username}}</p>
<p>{{user_real.username}}'s Textbooks:</p>
{% endif %}
{% if user_real.textbooks|length %}
{% for textbook in user_real.textbooks.all %}
<div class="bg-light text-dark">
      <p id="{{textbook}}">
        {{ textbook }}
      </p>
</div>
{% endfor %}
{% else %}
<p> {{user_real.username}} has not posted any textbooks to sell.</p>
{% endif %}
</div>



{% endblock %}