{% extends 'base.html' %}

{% block content %}

<div class="text-light">
{% if social_account.0.extra_data %}
<img src="{{ social_account.0.extra_data.picture }}" style="border-radius:50%;">
<br><br>
<p><em>Name:</em> {{social_account.0.extra_data.name}}</p>
<p><em>Email:</em> {{social_account.0.extra_data.email}}</p>

{% else %}
<p>Name: {{user.username}}</p>
{% if user.email%}
<p>Email: {{user.email}}</p>
{% endif %}
{% endif %}
{% if not empty %}
<p>My Textbooks:</p>
<div class="accordion" id="browseTextbooks">
  <div class="card">
    {% for department, value in departments.items %}
      <h2 class="card-header" id="{{department}}">
          <button class="btn btn-lg" type="button" 
                  data-bs-toggle="collapse" data-bs-target="#collapse{{department}}" 
                  aria-expanded="true" aria-controls="collapse{{department}}">
              {{department}}
          </button>
      </h2>
      <div id="collapse{{department}}" class="accordion-collapse collapse">
        <div class="accordion-body">
          {% for course, textbooks in value.items %}
              <div class="accordion" id="begin{{course}}">
                  <div class="card">
                      <h2 class="card-header" id="{{course.id}}">
                          <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{course}}" aria-expanded="false" aria-controls="collapse{{department}}">
                              {{course}}
                          </button>
                      </h2>
                  <div id="collapse{{course}}" class="accordion-collapse collapse show">
                      <div class="accordion-body text-dark">
                        {% for textbook in course.textbooks.all|dictsort:"title" %}
                          <p id="{{textbook}}">
                            <img src="{{textbook.cover}}" style="max-height:100px;" />
                            {{ textbook }}
                          </p>
                          <a href="/profile/{{textbook.user.username}}"><p>Posted by 
                            {% if textbook.user.first_name and textbook.user.last_name %}
                            <strong>{{textbook.user.first_name}} {{textbook.user.last_name}}</strong>
                            {% else %}
                            <strong>{{textbook.user.username}}</strong>
                            {% endif %}
                          </p></a>
                        {% endfor %}
                      </div>
                  </div>
              </div> 
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% else %}
<br>
<p><em>You have not posted any textbooks to sell. Click below to post a textbook!</em></p>
<p><a href="{% url 'post_textbook:choose_department' %}"><button type="button" class="btn btn-outline-light" aria-pressed="true">Post a Textbook</button></a></p>
{% endif %}
</div>



{% endblock %}