{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'search_results' %}" method="get" class="text-center">
      <div class="input-group">
        <!-- Search bar -->
        <input name="q" type="text" placeholder="Search by keyword (or leave blank to see all textbooks)" class="form-control">
        <div class="input-group-append">
          <!-- Search button -->
          <button type="submit" class="btn bg-primary text-light h-100">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
      </form>
    {% if departments %}
    <br><br>
    <p>Browse available textbooks by department:</p>
    <br><br><br>
    <div class="accordion" id="browseTextbooks">
      <div class="card">
        {% for department in departments %}
          <h2 class="card-header" id="{{department}}">
            <!-- Department dropdown -->
              <button class="btn btn-lg" type="button" 
                      data-bs-toggle="collapse" data-bs-target="#collapse{{department}}" 
                      aria-expanded="true" aria-controls="collapse{{department}}">
                  {{department}}
              </button>
          </h2>
          <div id="collapse{{department}}" class="accordion-collapse collapse">
            <div class="accordion-body">
              {% for course in department.courses.all|dictsort:"name" %}
                  <div class="accordion" id="begin{{course}}">
                      <div class="card">
                          <h2 class="card-header" id="{{course.id}}">
                            <!-- Course dropdown -->
                              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{course}}" aria-expanded="false" aria-controls="collapse{{department}}">
                                  {{course}}
                              </button>
                          </h2>
                          <div id="collapse{{course}}" class="accordion-collapse collapse show">
                              <div class="accordion-body text-dark">
                                <!-- Textbook list -->
                                {% for textbook in course.textbooks.all|dictsort:"title" %}
                                  <p id="{{textbook}}" style="display:inline">                         
                                    <img src="{{textbook.cover}}" style="max-height:100px;" />
                                    {{ textbook }}
                                    <!-- delete button -->
                                    {% if textbook.user == user %}
                                    <!-- Delete textbook button -->
                                    <form method="post" action="{% url 'remove_textbook:delete_confirm' textbook.pk %}" class="d-inline-flex" style="display: inline;">
                                      {% csrf_token %}
                                      <input name="view" id="view" value="index" hidden style="display: inline;"/>
                                      <button type="submit" class="btn bg-light text-dark h-100 border-dark mx-3" style="display: inline;"><i class="fa-regular fa-trash-can"></i></button>
                                    </form>
                                    {% endif %}
                                      <!-- Save button -->
                                      <form method="post" action="{% url 'save_textbook:save_textbook' textbook.pk %}" class="d-inline-flex" style="display: inline;">
                                        {% csrf_token %}
                                        <input name="view" id="view" value="index" hidden style="display: inline;"/>
                                        {% if textbook in favorites %}
                                        <input name="in_favorites" id="in_favorites" value="True" hidden style="display: inline;"/>
                                        <button type="submit" class="btn bg-light text-dark h-100 border-dark mx-3" style="display: inline;"><i class="fas fa-heart"></i></button>
                                        {% else %}
                                        <button type="submit" class="btn bg-light text-dark h-100 border-dark mx-3" style="display: inline;"><i class="far fa-heart"></i></button>
                                        <input name="in_favorites" id="in_favorites" value="False" hidden style="display: inline;"/>
                                        {% endif %}
                                      </form>
                                  </p>
                                  <!-- Message if you post a book -->
                                  <a href="/profile/{{textbook.user.username}}" style="text-decoration:none"><p>Posted by 
                                    {% if textbook.user == user %}
                                    <em>you</em>
                                    <!-- Message if another user post a textbook -->
                                    {% elif textbook.user.first_name and textbook.user.last_name %}
                                    <strong>{{textbook.user.first_name}} {{textbook.user.last_name}}</strong>   
                                   
                                    <!-- Save button -->
                                    <form method="post" action="{% url 'save_textbook' textbook.pk %}" class="d-inline-flex" style="display: inline;">
                                      {% csrf_token %}
                                      <input name="view" id="view" value="index" hidden style="display: inline;"/>
                                      <button type="submit" class="btn bg-primary text-dark h-100 border-dark mx-3" style="display: inline;">Save</button>
                                    </form>
                                    <button type="submit" class="btn bg-light text-dark h-100 border-dark mx-3" style="display: inline;">Save</button>
                                    {% else %}
                                    <strong>{{textbook.user.username}}</strong>
                                    <button type="submit" class="btn bg-dark text-dark h-100 border-dark mx-3" style="display: inline;">Save</button>
                                    {% endif %}
                                  </p></a>
                                {% endfor %}
                              </div>
                          </div>
                      </div> 
                  </div>
                  {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    {% endif %}
{% endblock %}