{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'search_results' %}" method="get" class="text-center">
      <input name="q" type="text" placeholder="Search by title or author (or leave blank to see all textbooks)" class="form-control">
      <input name="submit" type="submit" value="Search" class="form-control">
    </form>
    {% if textbooks %}
    Browse available textbooks:
      <div class="d-flex justify-content-center flex-wrap p-2">
      {% for textbook in textbooks %}
        <div class="list-group-item" style="flex: 100%;">{{ textbook }}</div>
      {% endfor %}
      </div>
    {% endif %}
{% endblock %}