/* Set a style for all headers and texts */
h2{
    color:orangered;
    font-size: 30px;
    font-weight: 20px;
    text-align: center;
}

h1{
    margin: 24px 0 25px 0;
    padding:80px;
    color:rgb(224, 153, 12);
    font-size: 100px;
    text-align: center;
}

p{
    font-size: 50px;
    text-align: center;
}

body {
    font-family: Verdana;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaper-house.com%2Fgroup%2Flibrary-backgrounds%2Findex.php&psig=AOvVaw07uN5rKj0LSXHM9Q6paqmX&ust=1669235400234000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCKjil8vQwvsCFQAAAAAdAAAAABAt");
    background-color:rgba(52, 32, 2, 0.955);
    height:1300px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

}
