{% load socialaccount %}
{% load static %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
    <ul class="navbar-nav mr-auto px-3" style="white-space: no-wrap;">
      <li class="nav-item active px-3 d-inline-block" style="white-space: no-wrap;">Search</li>
      {% if user.is_authenticated %}
        <li class="nav-item px-3 me-auto d-inline-block" style="white-space: no-wrap;">Profile</li>
      {% else %}
        <li class="nav-item px-3 me-auto d-inline-block" style="white-space: no-wrap;">Login</li>
      {% endif %}
      <li class="nav-item px-3 d-inline-block" style="white-space: no-wrap;">Inbox</li>
      <li class="nav-item px-3 d-inline-block" style="white-space: no-wrap;">Submit Textbook</li>
  </nav>
<body>
  <div class="px-3 pt-3">
  <h1>University of Virginia Textbook Exchange</h1>
  {% if user.is_authenticated %}
    <p>Welcome, {{ user|title }}. You are logged in!</p>

    <form class="text-center">
      <input name="search" type="text" placeholder="Search..." class="form-control-lg w-100">
    </form>
    {% if courses_list %}
    Browse available textbooks by department:
      <div class="d-flex justify-content-center flex-wrap p-2">
      {% for course in courses_list %}
        <div class="list-group-item" style="flex: 20%;">{{ course }}</div>
      {% endfor %}
      </div>
    {% endif %}
    <a href="/accounts/logout">Logout</a>
  {% else %}
    <p>Login to get started exchanging your textbooks.</p>
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
  {% endif %}
  </div>
</body>
</html>